# Flutter / Dart 
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android / iOS 
.gradle/
local.properties
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Operating System
.DS_Store
Thumbs.db

Plaintext
# Data and Password
.env
